<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "layout/main.html">

<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid color">
                <div class="container">
                    <h1 class="display-4">ZOTEX Marketplace</h1>
                    <p class="h6">ZOTEX Marketplace - your one-stop resource for everything you need.
                        We provide a wide range of products and services from trusted sellers from around the world. Our marketplace is designed
                        to make your life easier and give you the best deals.
                    </p><br>
                    <p class="h6">What we suggest:</p>
                    <ul>
                        <li><p class="h6">Product Variety: Our vendors offer a wide range of products, from electronics and fashion to home and beauty products.</p></li>
                        <li><p class="h6">Guaranteed Quality: We only work with trusted and reliable sellers to provide you with high quality standards.</p></li>
                        <li><p class="h6">Secure Transaction: Our data protection and payment systems ensure that every transaction is secure.</p></li>
                        <li><p class="h6">User Experience: We are committed to providing you with the ultimate convenience in searching, selecting and ordering products.</p></li>
                        <li><p class="h6">24/7 Support: Our support team is ready to help you at any time.</p></li>
                    </ul>
                    <p class="h6">Join ZOTEX and start discovering a world of possibilities. Buy with confidence and find the best deals. We are happy to have you with us!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>